[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = manager

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[user]
	name = Adrian Milvang
	email = adrian.milvang@gmail.com
[init]
	defaultBranch = main

[core]
	editor = nvim
[commit]
	gpgsign = true
